
<!DOCTYPE html>
<html lang="en">

<head>
  <title>DigiSchool</title>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/material-kit.css"  />
  <link rel="stylesheet" href="static/css/demo.css"/>
  <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/css/bootstrap-select.min.css" />
  	
  <style>
    .box{
        display: none;
    }
   
    .bootstrap-select .btn:focus {
    outline: none !important;
}
  </style>

  
</head>

<script>
  function includeHTML() {
    var z, i, elmnt, file, xhttp;
    /*loop through a collection of all HTML elements:*/
    z = document.getElementsByTagName("*");
    for (i = 0; i < z.length; i++) {
      elmnt = z[i];
      /*search for elements with a certain atrribute:*/
      file = elmnt.getAttribute("w3-include-html");
      if (file) {
        /*make an HTTP request using the attribute value as the file name:*/
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4) {
            if (this.status == 200) {elmnt.innerHTML = this.responseText;}
            if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
            /*remove the attribute, and call this function once more:*/
            elmnt.removeAttribute("w3-include-html");
            includeHTML();
          }
        }      
        xhttp.open("GET", file, true);
        xhttp.send();
        /*exit the function:*/
        return;
      }
    }
  };
  </script>

<body class="index-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">
          DigiSchool </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon">  </span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- <div w3-include-html="static/search.html"></div> -->
            <form class="form-inline ml-auto">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
              <div class="form-group no-border">
                <!-- <input type="text" class="form-control" placeholder="Search"> -->
                <select name="schoolSearch" id="schoolSearch" data-style="btn-outline-primary" class="no-border selectpicker validate" data-live-search="true" title="Search" required>
                  {% for i in range(count) %}
                  <option data-subtext="{{schools[i][1]}}" value="{{schools[i][0]}}" >
                   {{schools[i][2]}}
                  </option>
                  {% endfor %}
                </select>
              
              </div>
              <button type="submit" id="searchSubmit" class="btn btn-white btn-just-icon btn-round">
                  <i class="material-icons">search</i>
              </button>
          </form>
      </li>
      <li class="nav-item">
        <a href="#pablo" class="nav-link">
          About
        </a>
      </li>
          <li class="nav-item">
            
            <button class="btn btn-round btn-primary" data-toggle="modal" data-target="#loginModal">
              Login<i class="material-icons">assignment</i>
          
          </button>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

<div class="modal fade" id="loginModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-primary ">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <h3 class="card-title">Login</h3>
                        <h7>to explore more..</h7>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" action="{{ url_for('login') }}">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
                        <div class="card-body">
                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">perm_identity</i>
                                    </span>
                                    <input type="text" class="form-control" name="username" placeholder="Username">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    <input type="password" placeholder="Password..." name="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                          <input class="btn btn-primary btn-link btn-wd btn-lg" type = "submit" value="login"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('static/img/bg3.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Digital Portal For Schools</h1>
            <h4 class="text-center">One For All Portal</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <br><br><br>
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <h3>
          This is a portal for schools and teachers to iteract better with parents. Please register here to explore the world. 
        </h3>
        </div>
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
          <form class="form" id="singupForm" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title">Register Here</h4>
            </div>
            <br>
            <div class="card-body">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">face</i>
                  </span>
                </div>
                <input type="text" class="form-control validate" id="name" name="name" placeholder="Name..." pattern="[a-zA-Z][a-zA-Z ]+" required>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">perm_identity</i>
                  </span>
                </div>
                <input type="text" class="form-control validate" id="username"  name="username" placeholder="Username" required>
              </div>

                  
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input type="password" class="form-control validate" id="pass" name="pass" placeholder="Password..." title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
              </div>
              <div class="form-check form-check-radio ">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="category" id="exampleRadios1" value="student" checked>
                    Student
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="category" id="exampleRadios3" value="teacher"  >
                    Teacher
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="category" id="exampleRadios2" value="parent" >
                    Parent
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            
            
            
            <div class="teacher box">
              <div class="input-group">
                <!-- <div class="input-group-prepend col-sm-1 center">
                  <span class="input-group-text"> 
                    <i class="material-icons">school</i>
                  </span> 
                </div> -->
                <span class="input-group-prepend input-group-text col-sm-2"> 
                    <i class="material-icons">school</i>
                  </span> 
                <div class="col-sm-10">
                <select name="school" id="school" data-style="btn-outline-primary" class="selectpicker form-control validate" data-live-search="true" title="Search school">
                  {% for i in range(count) %}
                  <option data-subtext="{{schools[i][1]}}" value="{{schools[i][0]}}" >
                   {{schools[i][2]}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">phone</i>
                  </span>
                </div>
                <input type="text" class="form-control validate" id="contact" name="contact" placeholder="Contact number" >
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">email</i>
                </div>
                <input type="email" class="form-control validate" id="email" name="email" placeholder="Email Id">
                <span class="helper-text" data-error="Enter your email address here" data-success=""></span>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">home</i>
                </div>
                <input type="text" class="form-control validate" id="address" name="address" placeholder="Address">
              </div>
            </div>
            <div class="parent box">
              
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">phone</i>
                  </span>
                </div>
                <input type="text" class="form-control validate" id="contact1" name="contact1" placeholder="Contact number">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">email</i>
                </div>
                <input type="email" class="form-control validate" id="email1" name="email1" placeholder="Email Id">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">home</i>
                </div>
                <input type="text" class="form-control validate" id="address1" name="address1" placeholder="Address">
              </div>
            </div>
            <div class="student box">

            </div>
            <br>
            <div class="footer text-center">
              <div class="input-field col s12">
                <button class="waves-effect waves-light btn btn-primary" id="signupButton" >submit</button>
            </div>
            <br>
            </div>
          </form>
        </div>
          <div id="form-response"></div>
        </div>
      </div>
  </div>
  <br><br>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <div class="float-left">
        
      </div>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://www.creative-tim.com/" target="blank">Shuhangi</a> &
        <a href="https://www.creative-tim.com/" target="blank">Anagh</a>
        for a better web.
      </div>
    </div>
  </footer>
  
  <script src="static/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="static/js/core/popper.min.js" type="text/javascript"></script>
  <script src="static/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="static/js/plugins/moment.min.js"></script>
  <script src="static/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="static/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <script src="static/js/notify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
 
  <script>

    $(function() {
      $('.selectpicker').selectpicker();
    });
        
    $(document).ready(function() {
      $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
    });


    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
    
    
    $('#signupButton').click(function(event){
        var form = $('#singupForm');
        var form_id = 'singupForm';
        var url = '/register';
        var type = 'POST';
        var formData = getSignupFormData(form_id);

        send_form(form, form_id, url, type, modular_ajax, formData);
    });

    function getSignupFormData(form) {
        var formData = new FormData(document.getElementById(form));
        return formData
    }
    function send_form(form, form_id, url, type, inner_ajax, formData) {
        if ( form[0].checkValidity()) {
          event.preventDefault();

          var cat = formData.get('category')
          if(cat == "teacher"){
            if(formData.get('school') == ''){
              $("#school").notify("School field is empty");
            }
            else if(formData.get('contact') == ''){
              //alert("Contact field is empty");
              $("#contact").notify("Email field is empty");
            }
            else if(formData.get('email') == ''){
              
              //alert("Email field is empty");
              $("#email").notify("Email field is empty");
            }
            else{
              
              inner_ajax(url, type, formData);
            }
          }
          else if(cat == "parent"){
              
              if(formData.get('contact1') == ''){
                $("#contact1").notify("Contact field is empty");
              }
              else if(formData.get('email1') == ''){
                $("#email1").notify("Email field is empty");
              }
              else{
                
                inner_ajax(url, type, formData);
              }
          }
          else{
            
            inner_ajax(url, type, formData);
          }

      }
    }

    function modular_ajax(url, type, formData) {
      $.ajax({
          url: url,
          type: type,
          data: formData,
          dataType: 'json',
          processData: false,
          contentType: false,
          beforeSend: function() {
              $('#form-response').html("<div class='progress'><div class='indeterminate'></div></div>");
          },
          complete: function () {
            // hide the preloader (progress bar)
            $('#form-response').html("");
        },
          success: function ( data ){
            if(data.msg == "Some error occured. Please Try again"){
            $.notify(data.msg, "error");}
            else{
              $.notify(data.msg, "success");}
            
          },
          error: function(data) {
            $.notify("Error in registration", {align:"center", verticalAlign:"top"});
          },
      }).done(function(data) {
      });
    };

    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    includeHTML();

  </script>
</body>

</html>
